<!DOCTYPE html>


<pre id="background">


























</pre>
<br>
<div id="img">
<%= image_tag("tick.png") %> 
</div>
<div id="text1">
Upload Successful
</div>
<br><br><br><br><br><br>
<pre id="top2">

<%= link_to "Home", 'adminhome',:class=> "link1" %>  |  <%= link_to "Logout", 'adminlogin',:class=> "link1" %>          
</pre>