
#top {text-align: right; font-family:Century Gothic; font-size:130%; margin-top:-5%; height:40%;border-color:black;}

#h11 {text-align: center; font-family:Century Gothic; font-size:350%; color:Red;}

div#Signin { float:left; position: relative; top:30%; left:10%; width:40%; font-family:Century Gothic;font-size:140%; color:blue;}

#h2 {color:Red;font-size:175%;}

div#btn {color:black;}
div#txt1 {color:black;}
div#txt2 {color:black;}