#top2 {left:7%; position:relative; text-align:center; font-family:Century Gothic; font-size:200%; background:none;, border:none; width:90%;}

#background {border-color:black; background-image: url('/assets/images/booked.jpg'); margin-top:-5%;}

div#img {left:28%; float:left; position:relative;}

div#text1 {left:30%; float:left; position:relative; font-family:Century Gothic; font-size:400%; margin-top:1%; width:40%; color:red;}

.link1 {color:#000000; padding:5px;} 
.link1:hover {background-color:#000000; text-decoration:none; font-weight:bold; color:#FFFFFF; }

