#top {text-align:right; font-family:Century Gothic; font-size:130%; margin-top:-5%; border-color:white; background-color:#000000;}

.links {color:#FFFFFF; padding:5px;} 
.links:hover {background-color:#FFFFFF; text-decoration:none; font-weight:bold; color:#000000;}

body {  }

div#h1 {text-align: center; font-family:Canterbury; font-size:800%; color:Red; margin-top:-1%;}

div#labels { float:left; position: relative; left:10%; width:20%; font-family:Century Gothic; font-size:160%; color:#337ab7;}

div#txtfld {float:left; position: relative; left:18%; font-family:Century Gothic; font-size:140%;}

div#btn  {color:black; }

label {margin-bottom:10%;}

@font-face {
  font-family: 'Canterbury';
  src:url('Canterbury.eot');
  src:url('Canterbury.eot?#iefix') format('embedded-opentype'),
    url('Canterbury.svg#Canterbury') format('svg'),
    url('Canterbury.woff') format('woff'),
    url('Canterbury.ttf') format('truetype');
  font-weight: normal;
  
}